<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<h2>Список юзеров</h2>
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Email</th>
        <th scope="col">Профайл</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}">
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td>
            <a th:href="@{/{id}(id=${user.getId()})}">Профайл</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/new">Добавить нового юзера</a>
</body>
</html>